<html>
<head>
<meta charset="UTF-8">
<style> 
   ul.item { padding-left : 5px; }
   ul.item li { list-style:none; padding:5px; }
   ul.item li:nth-child(odd) { background-color: #ECD8D8; }
   ul.item li:nth-child(even) { background-color: #BACCD8; }   
   ul.nav li { display:inline; list-style:none; padding-right:20pt; }
</style>
</head>
<body>

<h1>Query And Pagination</h1>

<div> 검색어 : <%= keyword %> , 현재 페이지 : <%= data.page %> </div>

<ul class="item">
<% data.items.forEach(function(item) { %>
   <li> <%= item.title %>   
<% }); %>
</ul>

<ul class="nav">
<% for(var i = 1 ; i <= data.totalPage ; i++) { %>
   <% if ( data.page == i ) { %>
      <li> <strong> <%= i %> </strong> </li>
   <% } else { %>
      <li> <a href="/list?page=<%=i%>&keyword=<%=keyword%>"><%= i %></a></li>
   <% } %>   
<% } %>
</ul>

<form method="get" action="/list">

<input type="text" name="keyword" column="50">
<input type="submit" value="검색"</input>
</form>

</body
</html>