html
    head        
    body
        h3= movie.title
        ul
            li 
                img(src=movie.image height=200)
            li 영화 장르: #{movie.genre}
            li 출연: #{movie.stars}
            li 방영: #{movie.year}

        h3 영화 댓글
        ul
            each comment in movie.comments
                li #{comment.name} - #{comment.text} (#{comment.rating})

        h3 영화 댓글 달기
        form(
            method="post"
            enctype="application/x-www-form-urlencoded"
            action=`/movies/${movie._id}`)

            ul
                li
                    label(for="name") 이름
                    input(type="text" id="name" name="name")
                li
                    label(for="name") 댓글
                    input(type="text" id="text" name="comment")
                li
                    label(for="name") 평점
                    input(type="number" id="rating" name="rating")
                li
                    input(type="submit" value="작성")
